[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/EntropyWorks/pelican-plugins.git
[submodule "pelican-themes/pelican-mg"]
	path = pelican-themes/pelican-mg
	url = https://github.com/lucachr/pelican-mg.git
